:root {
	--primary: white;
	--secondary: rgb(100, 99, 99);
}

* > body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
}
a:visited {
	color: inherit !important;
}

.App {
	text-align: center;
}
.Footer {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 0.75rem;
	color: grey;
}
.navbar {
	background-color: var(--primary) !important;
}
.not_found {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 500;
	font-size: 5rem;
}
.not_found > span.smaller_text {
	font-size: 1rem;
	color: var(--secondary);
}
